<footer class="footer">
  <small>
    <% if current_user && current_user.admin? %>
      You have administrator powers!
    <% else %>
      Created with the Rails Tutorail by Michael Hartl
    <% end %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>